[submodule "pocket-base"]
	path = pocket-base
	url = git@github.com:rolandking/openFPGA-pocket-base.git
[submodule "roland_mister"]
	path = roland_mister
	url = git@github.com:rolandking/Arcade-Athena_MiSTer.git
[submodule "Arcade-Athena_MiSTer"]
	path = mister
	url = https://github.com/MiSTer-devel/Arcade-Athena_MiSTer.git
